<!DOCTYPE html>
<html>

<head>

  <title> Salary Calculator </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-CvjWuEwJgC7ZGzfJc8s4WszsXLtRscCDfYchzn1M/j7eIovwMkA7P/Ajjq3X9dV+ie2I/PnJ7nsYfYI8W7l57w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


</head>

  <body>

    <div class="container top-space">
        <h1 class="text-4xl font-bold mb-8">Salary Calculator</h1>
        <form method="POST" action="{{ url_for('home') }}"> <!--class="flex flex-col items-center" -->

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Basic Salary</span><br>
            <input type="number" class="form-control" id="basic-salary" name="basic_salary" aria-describedby="basic-addon3" value="{{ request.form['basic_salary'] }}">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Total Allowances</span><br>
            <input type="number" class="form-control" id="total-allowances" name="total_allowances" aria-describedby="basic-addon3" value="{{ request.form['total_allowances'] }}">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Total Deductions</span><br>
            <input type="number" class="form-control" id="total-deductions" name="total_deductions" aria-describedby="basic-addon3" value="{{ request.form['total_deductions'] }}">
          </div>
      
          <center>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded mt-8">Calculate</button>
          </center>
        </form>
      </div>

      <div class="container">
        {% if income_tax %}
          <p class="text-2xl">Monthly Income Tax is LKR {{ income_tax }}</p>
        {% endif %}

        {% if net_salary %}
          <p class="text-2xl-2">Monthly Net Salary is LKR {{ net_salary }}</p>
        {% endif %}
      </div>
      

  </body>

</html>